<html ng-app="zfpxmd">
<head>
    <meta charset="utf8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body>
<!-- <div  ng-controller="zfpxCtrl">
	<span ng-bind="age"></span>
    <div  ng-controller="zfpxCtrl">
		<span ng-bind="age" ng-init="age=8"></span>
	</div>


	<span ng-if="username">
	<span ng-bind="username"></span>
	</span>
</div> -->

<div ng-controller="zfpxCtrl">
    {{count}}
    <table class="table" >
        <caption>基本的表格布局</caption>
        <tbody>
        <tr>
            <td>书名</td>
            <td>删除</td>
        </tr>
        <tr ng-repeat="book in books">
            <td>{{book}}</td>
            <td ng-click="delList($index)">删除</td>
        </tr>
        <tr>
            <td><input type="text" ng-model="bookname"/><button type="button" ng-click="addList(bookname)">add</button></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>
<script type="text/javascript" src=js/angular.js></script>
<script type="text/javascript">
    var zfpx=angular.module('zfpxmd',[]);//二个参数定义新模块，
    //一个获取刚才定义的模块
    angular.module("zfpxmd").factory("bookserver",function(){
        var books=["nodejs","js"]
        return {
            list:function(){
                return books;
            },
            add:function(bookname){
                books.push(bookname);
                return books;
            },
            del:function(index){
                books.splice(index,1);
            }
        }
    });
    angular.module('zfpxmd').controller('zfpxCtrl',function($timeout,$scope,$http,bookserver){
        $scope.books=bookserver.list();
        $scope.addList=bookserver.add;
        $scope.delList=bookserver.del;

    });


</script>